/* body */

body{
    background-color:#eeeeee;	
}

/* Header */

#hd{
	background-color:#dddddd !important;
}

header h4{
	padding-top:4px;
	font-family:"Times New Roman", Times, serif;
	font-style:strong;
	color:#3377cc;
}



#iitlogo {
	width:90px;
	height:90px;
	
}

/* Nav */

#nav{
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  background-color: rgba(200, 200, 200, 0.90);
  
  font-size: 17px;
  padding-top:15px;
  
}

#nav .menu {
  
  list-style-type: none;
  
}

#login{
	float:right;
}

#brand{
	color:white;
	background-color:red;
	padding-top:16px;
	padding-bottom:14px;
	border-left:1px;
	border-right:1px;
	border-top:1px;
	border-bottom:1px;
}

.menu  > li{
	
	display: inline;
  
  padding-left: 20px;
  padding-right: 20px;
}

#home{
	
	padding-top:35px;
}

.dropdown-content li{
	
}


.menu a {
	text-align: center;
    
  color: #898989;
  text-decoration:none;
}

/* Dropdown */

.dropdown-menu {
  font-size: 16px;
  margin-top: 5px;
  min-width: 105px;
  display:none;
}

.dropdown-menu li a {
  color: #898989;
  padding: 6px 20px;
  font-weight: 300;
  display:block;
}

.show{
	display:block;
}

.caret-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}

/*Fixed Nav*/

.sticky {
  position: fixed;
  top:0;
  z-index: 1;
  width:100%;
}

/*Responsive Nav Bar*/

ul.menu li.icon {display: none;}

@media screen and (max-width:800px) {
  ul.menu li:not(:first-child) {display: none;}
  ul.menu li.icon {
    float: right;
    display: inline-block;
  }
  
  
}

@media screen and (max-width:800px) {
  ul.menu.responsive {position: relative;}
  ul.menu.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.menu.responsive li{
    float: none;
    display: inline;
  }
  ul.menu.responsive li a {
    display: block;
    text-align: left;
  }
  
}
  
/*Modal*/

.modal-header, .modal-header h4, .close {
      background-color: #222;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  
  .modal-body button{
	  font-size:20px;
  }
  
  .modal-footer {
      background-color: #222;
  }
 
/*Section*/ 
  #hlist{
	height:615px; 	
	background-color:yellow;
	overflow:auto;
	padding-left:0px;
	text-align:left;
	
  } 
  
  #hlist li{  
  padding-top: 22px;
  padding-right:5px;
  padding-bottom:0px;
  padding-left:0px;
  list-style-type: none;
  margin-left:0px;
  
  }
  
  
#carousel{
	width:100%;
	height:515px;
}

#carousel img{
	width:100%;
	height:515px;
}

  
  #hlist li a{
  font-size:15px;
  font-style:strong;
  color: #898989;
  text-decoration:none;
  margin-left:0px;
  }
  
  @media screen and (max-width:900px){
	#hlist li{
		display: inline;
		padding-top: 20px;
		padding-right:20px;
		padding-bottom:0px;
		padding-left:0px;
		list-style-type: none;
	}
	#hlist li a{
		text-align:left;
		font-size:18px;
	}
	#gallery{
		width:100%;
	}
	#carousel img{
		width:100%;
		height:480px;
	}

	#carousel{
		width:100%;
		height:480px;
	}
	
	#hlist{
		height:auto !important;
		width:100%
	}
	
	#boxlt1 , #boxlt2 {
		margin-right:0px;
	}
	#boxrt{
		margin-left:0px;
	}
}
  
  
  #boxlt1 , #boxlt2{
	margin:15px;
	margin-right:-25px;
	height:200px;
	background-color:#4dffff;
	box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.3), 3px 6px 20px 3px rgba(0, 0, 0, 0.25);
}
#boxlt1{
	margin-bottom:5px;
}


#boxrt{
	box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.3), 3px 6px 20px 3px rgba(0, 0, 0, 0.25);
	margin:15px;
	margin-left:-25px;
	height:420px;
	background-color:#80ffff;
}

#boxrb,#boxlb,#boxmb{
	box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.3), 3px 6px 20px 3px rgba(0, 0, 0, 0.25);
	margin:15px;
	height:300px;
	background-color:#80ffff;
}

@media screen and (max-width:767px){
#boxlt1 , #boxlt2 ,#boxrt{
		margin:10px !important;
}
}

@media screen and (max-width:1100px){
#boxmb , #boxlb ,#boxrb{
		margin:10px !important;
}
}
 
 
/*Footer*/
footer {
  bottom: 0;
  background-color: #dddddd;
  font-size: 14px;
  padding:20px 5px;
  
}

footer ul a{
	float:right;
	color:red;
	text-decoration:none;
	padding-right:20px;
	
	
}
footer ul{
  display: flex;
  justify-content: flex-end;
  
}

footer ul {
  list-style: none;
}

